
body {
  background-color: #ffffff;
  padding-top: 10px;
  background-position: center center, center top;
  background-repeat: repeat, no-repeat;
}

hr {
    width: auto;
    margin: 0 10px;
}
/*
.collaps li > input + * {
 display: none;
}

.collaps li > input:checked + * {
 display: block;
}

.collaps li > input {
 display: none;
}

.collaps label {
 cursor: pointer;
}
*/
/* start */

 .collaps li > input + * {
  display: none;
 }

 .collaps li > input:checked + * {
  display: block;
 }

 .collaps label {
  cursor: pointer;
 }

 .collaps label {
text-decoration: underline;
color: green;
}

.collaps li > input {
  display: none;
}
.collaps li > input {
 position: absolute;
 left: 0;
 margin-left: -999px;
}
